/out/
/node_modules/
/release/
/test-results/
/de-perportal-data/
/NFC/
*.sky
*.bin
*.dump
*.dmp
/skyportal-data/
/.impeccable/review/
/.impeccable/mocks/
/.impeccable/build/
/.impeccable/config.local.json
/.impeccable/hook.cache.json
/.impeccable/questions/
